@model IEnumerable<ajax.Models.Shop>
    @{
        var ajaxOptions = new AjaxOptions
        {
            UpdateTargetId = "Shops",
            Url = "/home/Shop",
            LoadingElementId = "loading"
        };
    }

    <div class="table">
        <table>
            <tr>
                <td><h3>Shop</h3></td>
                <td><h3>Work Time</h3></td>
                <td><h3>Description</h3></td>
            </tr>
            <tr>
            </tr>
        </table><br />
        <div style="border: 2px solid">

        </div>
    </div>

