@{
    ViewData["Title"] = "Login Page";
}

<div>
    <div>
        <form method="post" asp-action="SignUp">
            <input type="text" id="login" name="login" placeholder="login"><br />
            <input type="text" id="password" name="password" placeholder="password"><br />
            <button>Sign Up</button><br />
        </form>
    </div>
</div>
