@{
    ViewData["Title"] = "About";
}

<div class="container">
      <div class="content_aboutpage">
          <div class="content_inner">
                content
          </div>
      </div>
</div>
