@{
    ViewData["Title"] = "Home Page";
}

        <div class="container">
            <div class="sidebar">
                <ul>
                    @foreach (string catalog in ViewBag.Catalogs)
                     {
                        <li><a href="">@catalog</a></li>
                     }
                       
                </ul>
            </div><!--end sidebar-->

            <div class="content">
                <div class="content_inner">
                    <form method="post" asp-action="CreateCookie">
                        Enter your name:
                        <input type="text" name="txtUserName" size="30" />
                        <button>Enter</button>
                    </form>
                </div>                
            </div>
        </div><!--end container-->
   