@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header_logo">
                <h1>Logo</h1>
            </div>

            <nav class="nav">
                <a class="nav_link" href="#">Home</a>
                <a class="nav_link" href="#">Contacts</a>
                <a class="nav_link" href="#">About</a>
            </nav>
        </div><!--end container-->
    </header><!--end header-->

    <div class="page">
        <div class="container">
            <div class="sidebar">
                <ul>
                    <li>Mobile phones</li>
                    <li>Laptops</li>
                    <li>Cameras</li>
                    <li>Headphones</li>
                </ul>
            </div><!--end sidebar-->

            <div class="content">
                <div class="content_inner">
                    content
                </div>
            </div>
        </div><!--end container-->
    </div><!--end page-->

    <footer class="footer">
        <div class="container">
            <div class="footer_inner">
                <p>Copyright 2020</p>
            </div>
        </div>
    </footer>

</body>
</html>
